
$purple-gradient: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100% );

$font-color: white;
$input-font-color: #e2e2e2;
$hover-color: rgb(68, 196, 255);

$skeleton-color:  rgb(56, 56, 56);

$border-color: #d7d7d7;

$background-color:  #1a1a1c;